<script>
    function updateImage() {
      let profileForm = $('#profileForm')[0];  // 배열로 리턴한다더라
      console.log(profileForm);
      let formData = new FormData(profileForm);  // 폼의 모든 데이터를 가지고 있다.
      console.log();
      $.ajax({
        type: "put",
        url: "/user/profileUpdate",
        contentType: false,  // x-www 으로 파싱하지 마라   // 순서도 중요 contentType 부터 순서 바꿔서 테스트 해봐
        processData: false, // contentType 이 false가 되면 자동으로 쿼리스트링으로 파싱하련느데 이걸 해제 시켜야함
        data: formData,
        enctype: "multipart/form-data",

        dataType: "json"
      }).done((res) => {
        alert(res.msg);
        location.href = "/"
      }).fail((err) => {
        alert(err.responseJSON.msg);
      });
    }
</script>