
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/32aa2b8683.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
        <div class="container-fluid d-row">
            <a class="navbar-brand" href="/">Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
                <ul class="navbar-nav ">
                <c:choose class="d-flex">
                   <c:when test="${principal == null}" class="d-flex">
                   <li class="nav-item">
                        <a class="nav-link" href="/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/join">회원가입</a>
                    </li>
                   </c:when>
                
                   <c:otherwise class="d-flex">
                   <li class="nav-item">
                        <a class="nav-link" href="/board/write">글쓰기</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/update">회원수정</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">로그아웃</a>
                    </li>
                   </c:otherwise>
                </c:choose>
                </ul>
                <div>
                    <a href="/user/profileUpdateForm"><img src="${principal.profile == null ? '/images/default_profile.png' : principal.profile}" style="width: 35px;"
                            class="rounded-circle" alt="Cinque Terre"></a>
                </div>
            </div>
    
        </div>
    </nav>
    <div class="d-flex mx-auto">
        <div class="ms-4 mt-4">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/user">회원관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/board">게시글 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/reply">댓글 관리</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li> -->
            </ul>
        </div>
    
        <div class="container mt-3">
            <h2>게시글 관리</h2>
    
            <div class="d-flex justify-content-between">
    
                <div>
                    <p>게시글을 삭제할 수 있습니다.</p>
                </div>
                <!-- action="/admin/board/search"  method="get" -->
                    <div class="d-flex" >
                        <div class="me-2 " style="width:150px">
                            <select class="form-select" aria-label="Default select example" onchange="changeDropdown(this)">
                                <option id="title" value="title">글 제목</option>
                                <option id="content" value="content">글 내용</option>
                                <option id="writer" value="username">작성자</option>
                                <!-- onclick="changeDropdown(this) -->
                            </select>
                        </div>
    
                        <div class="input-group">
                            <div class="form-outline">
                                <input hidden="hidden">
                                <input id="search-input" type="search" name="title" class="form-control"
                                    placeholder="검색" />
                            </div>
                            <button id="search-button" type="submit" class="btn btn-primary" onclick="searchBoard()">
                                <i class="fas fa-search"></i>
                            </button>   
                        </div>
                        <div>
                        </div>
                    </div>
                </div >
                    <input type="text" name="" id="">
                    <button type="button">dd</button>
                </form>
                
            </div>
    
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>게시글 번호</th>
                        <th>게시글 제목</th>
                        <th>게시글 내용</th>
                        <th>게시글 작성자</th>
                        <th>게시글 작성일</th>
                        <th>게시글 삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <c:forEach items="${boardList}" var="board">
                        <tr id="board-${board.id}">
                            <td>${board.id}</td>
                            <td>${board.title}</td>
                            <td class="my-title-ellipsis">${board.content}</td>
                            <td>${board.username}</td>
                            <td>${board.createdAtToString}</td>
                            <td><button class="btn btn-danger" onclick="deleteBoard(`${board.id}`)">삭제하기</button></td>
                        </tr>
                    </c:forEach>
                </tbody>
            </table>
        </div>
    </div>
    <script>
        function deleteBoard(id) {
            $.ajax({
                type: "delete",
                url: "/admin/board/" + id + "/delete",
                dataType: "json"
            }).done((res) => {
                alert(res.msg);
                $('#board-' + id).remove();
            }).fail((err) => {
                alert(err.responseJSON.msg);
            });
        }
        function searchBoard() {
            let data;
            if ($('#search-input').attr('name') === 'title') {
                data = {
                    title: $('#search-input').val()
                }
            }
            if ($('#search-input').attr('name') === 'content') {
                data = {
                    content: $('#search-input').val()
                }
            }
            if ($('#search-input').attr('name') === 'username') {
                data = {
                    username: $('#search-input').val()
                }
            }
    
            $.ajax({
                type: "post",
                url: "/admin/board/search",
                data: JSON.stringify(data),
                headers: {
                    "content-type": "application/json; charset=utf-8"
                },
                dataType: "json"
            }).done((res) => {
                // 다시 테이블 그려야 해
                console.log(res.data);
            }).fail((err) => {
    
            });
    
        }
    
        function changeDropdown(obj) {
            let DrondwonValue = $(obj).val();
            console.log(DrondwonValue);
            $('#search-input').attr('name', DrondwonValue);
        }
    </script>
    <div class="mt-4 p-5 bg-dark text-white rounded text-center" style="margin-bottom: 0">
        <p>Created by MetaCoding</p>
        <p>📞 010-2222-7777</p>
        <p>🏴 부산 수영구 XX동</p>
    </div>
</body>

</html>